<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Salesforce の開発で困っていませんか？</h2>
                <hr class="light">
                <p class="text-faded">
                  現在、世界中の地域で Salesforce DG が発足しています。Salesforce DG とは、Salesforce Developer Group の略です。<br/>
                  Tokyo Salesforce DG ではオンラインだけでなく、Meetup や勉強会などの実際集まれるイベントを月１回程度開催しています。<br/>
                </p>
                <p class="text-faded">一緒に Salesforce の開発スキルを磨いてみませんか？</p>
                <a href="http://www.meetup.com/ja-JP/Tokyo-Salesforce-Developer-Group/" class="btn btn-default btn-xl wow tada">続きは <i class="fa fa-users fa-1x wow bounceIn" data-wow-delay=".1s"></i> Meetup.com で！</a>
            </div>
        </div>
    </div>
</section>
